
* { 
	-webkit-box-sizing: border-box; 
	        box-sizing: border-box;
}
html, body {
	min-height: 100%;
	color: #000;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
	
body {
	font-size: 18px;
	text-rendering: optimizeLegibility;
}
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}

img {
    width:100%;
    display:block;
}

.blue {
    color:#192b3c;
}

.gold {
    color:#d59d43;
}

.red {
    color:#C5261B;
}
	

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size:3rem;
}

h2 {
    font-size:3rem;
}

h3 {
    font-size:1.5rem;
}

	
p { 
    line-height: calc(1ex / 0.32);
} 


textarea { 
	resize: vertical;
}
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}

nav ul {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    list-style:none;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:17px;
    color:#192b3c;
    padding:0;

}

nav > ul > li > ul > li {
    font-size:15px;
}

nav > ul > li {
    margin-left:40px;
}

nav > ul > li:first-of-type {
    margin-left:0;
}

.dropdown {
    display:none;
    position:absolute;
}

nav ul li a {
    color:#192b3c;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


.parent-li i {
    margin-left:5px;
}

.dropdown li a {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    background:#d59d43;
    padding:12px 25px;
}

.my-trial-team-header {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

header {
    position:relative;
    z-index:1000;
}

.header-section {
    width:100%;
    padding:20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.header-section.header-bottom {
    padding:10px 20px;
}

.header-top {
    background:#d59d43;
    background:#e1b97a;
}

.header-middle {
    background:#E23428;
    color:#fff;
    text-transform:uppercase;
}

.header-bottom {
    background:#fff;
}

.header-bottom-inner {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-logo {
    width:100%;
}

.header-logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:100%;
}

.header-logo a img {
    width:100%;
}

.nav-and-phone {
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.header-button {
    padding:0 0 0 30px;
}

.header-button a {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding:12px 24px;
    color:#192b3c;
    text-decoration:none;
    background:#d59d43;
    font-size:20px;
}

main {
    width:100%;
}

.container {
    width:100%;
    padding:20px;
}

.inner {
    width:100%;
    max-width:100%;
    margin:0 auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header-top-heading {
    margin:auto;
    font-weight:700;
    font-size:4.8vw;
    text-transform:uppercase;
}

.header-columns {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;;
    -webkit-box-align: center;;
        -ms-flex-align: center;;
            align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header-column {
    width:auto;
}

.header-column a {
    color:inherit;
    text-decoration: none;
}

.header-column i {
    color:#E8CB9B;

}

.header-column-left {
    font-size:2.9vw;
    padding-right:14px;
}

.header-column-right {
    font-size:3.7vw;
    padding-left:14px;
    border-left:1px solid #fff;
}

.header-column-left i {
    font-size:3.7vw;
}

.hero {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    background-image:url('../images/results-testimonials-banner-new-opt-cropped.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: left;
}

.hero-overlay {
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(14,28,41,.1)), to(rgba(14,28,41,.9)));
    background-image: -o-linear-gradient(top, rgba(14,28,41,.1), rgba(14,28,41,.9));
    background-image: linear-gradient(to bottom, rgba(14,28,41,.1), rgba(14,28,41,.9));
}

.hero-top {
    position:relative;
    width:100%;
    padding:20px 0 0 0;
}

.hero-top img {
    width:100%;
    height:220px;
    -o-object-fit:cover;
       object-fit:cover;
    -o-object-position:top;
       object-position:top;
    -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}


.hero-bottom {
    width:100%;
    background:#0e1c29;
    -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.4);
            box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.hero-heading {
    position:relative;
    z-index:2;
    width:100%;
    background:#0e1c29;
    padding:20px 20px 0 20px;
}

.hero-heading h1 {
    margin:0;
    color:#fff;
    font-size:11vw;
    text-align:center;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
}

.hero-content {
    width:100%;
    padding:20px;
}

.tri-heading {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flourish {
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}

.flourish-line {
    width:100%;
    height:2px;
    background:#d59d43;
}

.flourish-inner {
    padding:0 10px;
    color:#fff;
    text-transform:uppercase;
    font-size:4.8vw;
    font-weight:700;
    letter-spacing:.2vw;
    text-align: center;
}

.hero-cta {
    color:#fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.hero-cta p {
    text-align: center;
    font-size:4.9vw;
}

.button {
    color:#fff;
    background:#E23428;
    padding:10px 16px;
    position:relative;
    z-index:2;
    -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.4);
            box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.button a {
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:5vw;
}

.no-fee {
    background:#09121a;
    color:#fff;
    text-transform:uppercase;
    font-size:7vw;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.no-fee-content {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.no-fee i {
    color:#d59d43;
    margin:0 4px 0 0;
}


.duo {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin:auto;
    width:900px;
    max-width:100%;
}

.duo p {
    margin:0;
}

.duo-left {
    padding:0 20px 0 0;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:#09121a;
}

.duo-right {
    background:#09121a;
    color:#fff;
    padding:20px;
    width:auto;
    -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.duo-right ul {
    list-style-type: none;
    padding:0;
    text-align: center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


.duo-right a {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    color:#d59d43;
    text-decoration: none;
    padding:10px 0;
    border-bottom:1px solid #fff;
    -webkit-transition:0.3s ease;
    -o-transition:0.3s ease;
    transition:0.3s ease;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.duo-right a:hover {
    background:#d59d43;
    color:#0e1c29;
}

.duo-right ul li:last-of-type {
    border-bottom:none;
}

.duo-right p {
    font-family:"PT Sans Narrow", sans-serif;
    font-size:30px;
    text-align: center;
}

.results {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background:#fff;
    border-top:1px solid #d59d43;
    margin-top:20px;
    padding-top:20px;
}

.results h2 {
    margin:0;
    font-size:7.8vw;
    text-align:center;
    font-style: normal;
    text-transform:uppercase;
    color:#192b3c;
}

.results-inner {
    width:100%;
}

.result {
    width:100%;
    padding:30px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background:#0e1c29;
    margin:20px 0 0 0;
    -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.4);
            box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    border-top:8px solid #d59d43;
}

.result h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:12vw;
    margin:0 0 20px 0;
    color:#fff;
}

.negligent {
    color:#e1b97a;
    font-size:7vw;
    text-align:center;
    font-weight:700;
}

.result p {
    color:#fff;
    text-align:center;
    font-size:5vw;
    margin:20px 0 0;
}

.results-button {
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    margin-top:20px;
}

footer {
    background:#0e1c29;
    padding:30px 0;
}

.footer-inner {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color:#fff;
}
.footer-section {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}

.footer-inner .footer-social a {
    color:#e1b97a;
    text-decoration: none;
    margin:0 10px;
}

.footer-social {
    margin:30px 0;
    padding:30px 0;
    border-top:1px solid rgba(255,255,255,0.3);
    border-bottom:1px solid rgba(255,255,255,0.3);
}

@media (max-width: 767px) {
    .nav-and-phone {
        display:none;
    }

    .hero {
        background-image:none;
    }

    .hero-overlay {
        background-image:none;
    }

    .hero-top {
    background-image:url('../images/results-testimonials-banner-new-opt-cropped.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: left;
    }

    .duo {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .duo-left {
        padding:0 0 20px 0;
    }

    .duo-left p {
        font-size:5.3vw;
        text-align: center;
    }

}


@media (min-width: 768px) {
    .nav-and-phone {
        display:none;
    }
    .header-section {
        padding:20px 50px;
    }

    .container {
        padding:50px;
    }

    .inner {
        width:100%;
    }
    .header-top-heading {
        font-size:20px;
    }

    .header-columns {
        width:1600px;
        max-width:100%;
        margin:auto;
    }
    .header-column {
        width:unset;
        -webkit-box-flex:1;
            -ms-flex:1;
                flex:1;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    .header-column-left,
    .header-column-left i,
    .header-column-right {
        font-size:18px;
    }
    .header-column-left {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .header-bottom-inner {
        width:auto;
        max-width:100%;
        margin:auto;
    }

    .header-logo {
        width:330px;
    }

    .hero,
    .hero-overlay {
        background-image:none;
    }


    .hero {
        background-position:top;
    }

    .hero-top img {
        width:700px;
        max-width:100%;
        height:400px;
        margin:auto;
        -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
                filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
    }

    .hero-heading {
        -webkit-box-shadow:none;
                box-shadow:none;
        padding:0;
    }

    .hero-heading h1 {
        font-size:70px;
    }

    .hero-bottom {
        position:relative;
        background:#0e1c29;
        -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.4);
                box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.4);
        padding:30px 50px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index:2;

    }

    .hero-top {
        background-image:url('../images/results-testimonials-banner-new-opt-cropped.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position: top;
    }

    .flourish-inner {
        font-size:28px;
        letter-spacing: 4px;
    }

    .hero-cta p {
        font-size:22px;
    }

    .hero-cta p br {
        display:none;
    }

    .button a {
        font-size:18px;
    }
    .no-fee-content {
        font-size:40px;
        font-weight:700;
    }

    .container.no-fee {
        padding:20px 50px;
        position:relative;
        background:#09121a;
    }
    

    .results h2 {
        font-size:35px;
    }

    .results-inner {
        margin-top:10px;
    }

    .results {
        padding-top:50px;
        margin-top:50px;
    }

    .result {
        -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .result h3 {
        font-size:50px;
    }

    .negligent {
        font-size:25px;
    }

    .result p {
        font-size:20px;
    }

    .footer-inner {
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
    }

    .footer-social {
        margin:0;
        border-top:none;
        border-bottom:none;
        border-left:1px solid rgba(255,255,255,0.3);
        border-right:1px solid rgba(255,255,255,0.3);
    }

}


@media (min-width: 768px) and (orientation:portrait) {
    .duo-left p {
        font-size:26px;
    }
}
@media (min-width: 768px) and (orientation:landscape) {
    .duo-left p {
        font-size:34px;
    }
}

@media (min-width:1200px) {
    .header-section {
        padding:20px 50px;
    }

    .nav-and-phone {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }

    .container {
        padding:50px;
    }

    .inner {
        width:1600px;
    }
    .header-top-heading {
        font-size:20px;
    }

    .header-columns {
        width:1600px;
        max-width:100%;
        margin:auto;
    }
    .header-column {
        width:unset;
        -webkit-box-flex:1;
            -ms-flex:1;
                flex:1;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    .header-column-left,
    .header-column-left i,
    .header-column-right {
        font-size:18px;
    }
    .header-column-left {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .header-bottom-inner {
        width:1600px;
        max-width:100%;
        margin:auto;
    }

    .header-logo {
        width:330px;
    }

    .hero,
    .hero-overlay {
        background-image:none;
    }


    .hero {
        background-position:top;
    }

    .hero-top img {
        width:700px;
        height:400px;
        margin:auto;
        -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
                filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
    }

    .hero-heading {
        padding:0;
    }

    .hero-heading h1 {
        font-size:80px;
    }

    .hero-bottom {
        position:relative;
        background:#0e1c29;
        padding:30px 50px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index:2;

    }

    .hero-top {
        background-image:url('../images/results-testimonials-banner-new-opt-cropped.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position: top;
    }

    .flourish-inner {
        font-size:40px;
        letter-spacing: 4px;
    }

    .hero-cta p {
        font-size:28px;
    }

    .hero-cta p br {
        display:none;
    }

    .button a {
        font-size:18px;
    }
    .no-fee-content {
        font-size:40px;
        font-weight:700;
    }

    .container.no-fee {
        padding:20px 50px;
        position:relative;
    }
    
    .duo-left p {
        font-size:35px;
    }

    .results h2 {
        font-size:50px;
    }

    .results-inner {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top:10px;
    }

    .results {
        padding-top:50px;
        margin-top:50px;
    }

    .result {
        width:32%;
        -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .result h3 {
        font-size:50px;
    }

    .negligent {
        font-size:25px;
    }

    .result p {
        font-size:20px;
    }

    .footer-inner {
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
    }

    .footer-social {
        margin:0;
        border-top:none;
        border-bottom:none;
        border-left:1px solid rgba(255,255,255,0.3);
        border-right:1px solid rgba(255,255,255,0.3);
    }

}
